* {
  font-family: "Manrope", sans-serif;
}
section {
  margin-bottom: 100px !important;
}


/* media query */
@media screen and (max-width: 640px) {
  section {
    margin-bottom: 40px !important;
  }
}
